# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environnements virtuels
.venv/
venv/
.env

# Données brutes et transformées
data/*.csv
data_processed/*.csv
notebooks/exports/*.csv

# Modèles et artefacts
*.pkl
mlruns/
mlartifacts/

# Rapports générés
*.html
logs/

# Fichiers inutiles
.DS_Store
*.log
uv.lock
requirements-ci.txt
pyproject.toml
input_example_swagger.json
tests/test_sanity.py

